@import url('https://fonts.googleapis.com/css2?family=Bitcount+Ink:wght@100..900&family=Honk:MORF@15&family=Isometra&family=Jersey+10&display=swap');

canvas {
    border: 5px solid white;
    border-radius: 15px;
}

h1 {
    margin: 0px;
    font-size: 4.0em;
    font-family: "Honk", system-ui;
}

body {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 0px;
    margin: 0px;
    background-color: black;
}

#control-board {
    display: flex;
    gap: 25px;   
}

#start-button {
    font-family: "Jersey 10", sans-serif;
    color: white;
    background-color: blue;
    width: 125px;
    height: 125px;
    font-size: 30px;
    border: 15px solid darkblue;
    border-radius: 50%;
    cursor: pointer;
}

#reset-button {
    font-family: "Jersey 10", sans-serif;
    color: white;
    background-color: red;
    width: 125px;
    height: 125px;
    font-size: 30px;
    border: 15px solid darkred;
    border-radius: 50%;
    cursor: pointer;
}

#score {
    font-family: "Jersey 10", sans-serif;
    font-size: 75px;
    color: white;
}

#control-text {
    font-family: "Jersey 10", sans-serif;
    font-size: 30px;
    color: white;
    background-color: darkslateblue;
    border-radius: 5px;
    padding: 10px;
}
